.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
  height: 58px;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.button.brand {
  background: var(--brand-brand_99C08E);
}

.button.gray {
  background: var(--gray-gray_DDDDDD);
}

.button:disabled {
  cursor: default;
}

.text {
  position: relative;
  z-index: 1;
  font: var(--typography-jeju-400-18);
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0px -2px var(--green-green_text_578246);
}
