.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
  height: 58px;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.button.brand {
  background: var(--brand-brand_99C08E);
}

.button.gray {
  background: var(--gray-gray_DDDDDD);
}

.button.md {
  width: 100%;
}

.button.sm {
  width: 252px;
}

.button:disabled {
  cursor: default;
}

.text {
  position: relative;
  z-index: 1;
  font: var(--typography-jeju-400-18);
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0px -2px var(--green-green_text_578246);
}

/* 태블릿: 화면 너비 1023px 이하일 때 */
@media (max-width: 1023px) {
  .button.sm {
    width: 160px;
    border-radius: 14px;
  }
}

/* 모바일: 화면 너비 767px 이하일 때 */
@media (max-width: 767px) {
  .button.sm {
    width: 106px;
    height: 38px;
    border-radius: 8px;
  }
  .button.sm .text {
    font: var(--typography-jeju-400-12);
  }
}
