{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/api",
    "^@/constants",
    "^@/contexts",
    "^@/hooks",
    "^@/utils",
    "^@/pages",
    "^@/components",
    "^@/styles",
    "^@/assets",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSeparateGroups": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true
}
