.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font: var(--typography-400-16);
  color: var(--black-black_414141);
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 14px 16px;
  border: 1px solid var(--gray-gray_DDDDDD);
  border-radius: 15px;
  background-color: var(--white-white_FFFFFF);
  overflow-y: auto;
  font: var(--typography-400-16);
  color: var(--black-black_414141);
  resize: none;
}

.textarea::placeholder {
  color: var(--gray-gray_818181);
}

.textarea:focus {
  outline: none;
  border-color: var(--brand-brand_99C08E);
}

.textarea.error {
  border-color: var(--red-error_C41013);
}

.errorMessage {
  font: var(--typography-400-12);
  color: var(--red-error_C41013);
}
