.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: --z-index-modal;
}

.modalCard {
  background: var(--white-white_FFFFFF);
  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: var(--white-white_FFFFFF);
  width: 648px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ── Header ── */
.modalHeader {
  padding: 20px 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.modalHeaderTitle {
  font: var(--typography-800-24);
  color: var(--black-black_414141);
  text-align: center;
}

.modalHeaderClose {
  position: absolute;
  right: 20px;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  font: var(--typography-500-16);
  color: var(--green-green_text_578246);
  padding: 2px 0;
  white-space: nowrap;
}

/* ── Body ── */
.modalBody {
  padding-top: 16px;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* ── Footer ── */
.modalFooter {
  display: flex;
  gap: 24px;
  justify-content: center;
}
