.toastContainer {
  /* 토스트 위치 설정 */
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

  /* 폰트 디자인 반응형 처리 */
  font-family: var(--font-family, 'NanumSquare', sans-serif);
  font-size: 14px;
  font-weight: 500;

  /* 3초 설정 */
  animation: toastLifeCycle 3s ease-in-out forwards;
}

.message {
  margin: 0;
}

/* 🟩 성공 토스트 */
.success {
  background-color: var(--green-green_E1EDDE);
  padding: 14px 18px;
}
.success .message {
  color: var(--green-green_text_578246);
}

/* 🟥 경고 토스트  */
.warning {
  background-color: var(--pink-pink_FDE0E9);
  padding: 14px 28px;
}
.warning .message {
  color: var(--red-red_F50E0E);
}

/* 반응형 */
@media (max-width: 768px) {
  .toastContainer {
    font-size: 12px;
  }
  .success {
    padding: 10px 14px;
  }
  .warning {
    padding: 10px 20px;
  }
}

/* 통합 애니메이션 */
@keyframes toastLifeCycle {
  0% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  90% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
}
